<?xml version="1.0"?>

<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lidar)/worlds/trash.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="0.3"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <group ns ="turtlebot">
        <param name="tf_prefix" value="turtlebot_tf" />
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
        <arg name="x_pos" default="0"/>
        <arg name="y_pos" default="-1"/>
        <arg name="z_pos" default="0.2"/>
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    </group> 

    <group ns ="quadrotor">
        <param name="tf_prefix" value="drone_tf" />
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
            <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
            <arg name="x" default="0"/>
            <arg name="z" default="0.3"/>
        </include>
    </group>   
      <node pkg="lidar" type="droneobsavoid.py" name="listener" output="screen">
      </node>
      <node pkg="lidar" type="dronespiral.py" name="autohector" output="screen">
      </node>
      <node name="rabbitposer" pkg="lidar" type="botmove.py"> 
      </node> 
      <node name="UAVRecordRaw" pkg="lidar" type="uavpathrecorder.py" output="screen"> 
      </node>    

</launch>      